:root{
  --main-bg-color: #ff9900;
}

body {
  background-color: black;
  font-family: 'Changa', sans-serif;
  
}


h1 {
  width: 48vw;
  font-size: 3em;
  line-height: 0.5;
  padding: 0 1% 0 1%;
}

h2 {
  width: 48vw;
  font-size: 3em;
  line-height: 0.5;
  margin-left: 35%;
  margin-top: 0;
  width: 30vw;
}

.line {
  border-width: 10px 0 0 0;
  width: 15%;
  border-color: black;
  border-style: dotted;
  margin-bottom: 5%;
  margin-left: 40%;
}

.explosive {
  font-family: 'Changa One', cursive;
  letter-spacing: .3em;
  text-shadow: 2px 2px 15px #ffffff;
}

.main-container {
  background-color: var(--main-bg-color);
  background-image: url(images/dot.png);
  background-position: left;
  background-size: 200px ;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns:repeat(6, 16.77%);
  grid-template-rows:repeat(6, 16.77%);
  animation-name: moving-dots;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moving-dots {
   0%{background-position: right;}
   50%{background-position: right top;
       background-size: 300px;}
   100%{background-position: right;
        background-size: 200px;}
}

.main-logo-big {
  height: 45vh;
  grid-column: 4;
  grid-row: 1;
  margin-left: 15%;
}

.title-form-container {
  grid-column: 4;
  grid-row: 4;
  width: 48vw;
  height: 48vh;
  background-color: #ff990090;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
}

.bomb-container {
  background-image: url(images/bomb.png);
  height: 1000px;
  width: 1000px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-row-start: 2 ;
}

fieldset {
  font-size: 1.5em;
  border: none;
}

input {
  border-radius:5px;
  box-shadow: 2px 2px 2px black;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

input:hover {
  transform: scale(1.1);
}

input:focus {
  transform: scale(1.1);
}

.text-box-name {
  margin-left: 15.7%;
  padding-left: 20px;
  background-image: url(images/name.png);
  background-repeat: no-repeat;
}

.text-box-phone {
  margin-left: 15.5%;
  padding-left: 20px;
  background-image: url(images/phone.png);
  background-repeat: no-repeat;
}

.text-box-email {
  margin-left: 16.5%;
  padding-left: 20px;
  background-image: url(images/mail.png);
  background-repeat: no-repeat;
}

.label-services {
  position: relative;
  bottom: 135px;
  left: 450px;
}

.checkbox-lighting {
  position: relative;
  bottom: 135px;
  left: 450px;
}

.label-lighting {
  position: relative;
  bottom: 135px;
  left: 450px;
}

.checkbox-scenic {
  position: relative;
  bottom: 135px;
  left: 470px;
}

.label-scenic {
  position: relative;
  bottom: 135px;
  left: 470px;
}

.checkbox-sound {
  position: relative;
  bottom: 80px;
  left: 77px;
}

.label-sound {
  position: relative;
  bottom: 80px;
  left: 77px;
}

.checkbox-projection {
  position: relative;
  bottom: 80px;
  left: 115px;
}

.label-projection {
  position: relative;
  bottom: 80px;
  left: 115px;
}

textarea {
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  position: relative;
  bottom: 70px;
  width: 600px;
  background-color: #00000050;
  color: white;
  border: none;
}

button {
  border-radius:5px;
  box-shadow: 2px 2px 2px black;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--main-bg-color);
}

.submit {
  font-size: 1em;
  position: relative;
  bottom: 215px;
  left:670px;
  width: 100px;
  height: 50px;
}

.reset {
  font-size: 1em;
  position: relative;
  bottom: 155px;
  left: 566px;
  width: 100px;
  height: 50px;
}

.icons {
  color: white;
  margin-left: 55%;
  margin-top: 5%;
}

a {
  color: var(--main-bg-color);
}

a:hover {
  color: red;
}
